@import url("https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:400,600");
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding-bottom: 80px;
  background-color: #f9f9f9; }

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700 !important; }

p, div {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

.max-container {
  max-width: 1400px;
  display: block;
  margin: 0 auto; }
  .max-container:after {
    content: '';
    display: block;
    clear: both; }

/*------------------------------------------------------------------
[Search Bar]
-------------------------------------------------------------------*/
.search-bar-container {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #282828;
  padding: 20px 0;
  margin-bottom: 40px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.09); }
  .search-bar-container .logo {
    position: relative;
    display: inline-block;
    height: 50px;
    margin-top: 2px;
    margin-right: 40px;
    float: left;
    margin-bottom: -7px; }
  .search-bar-container .input-container {
    position: relative;
    display: inline-block;
    width: 75%;
    padding-top: 3px; }
    .search-bar-container .input-container input {
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
      width: 100%;
      border: 2px solid rgba(97, 218, 251, 0.7);
      padding: 6px 40px 6px 12px;
      border-radius: 4px;
      color: #fff;
      font-size: 15px;
      line-height: 24px;
      -webkit-transition: .4s ease;
      transition: .4s ease; }
      .search-bar-container .input-container input::placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .search-bar-container .input-container input:focus {
        border-color: #61dafb !important;
        outline: 0 !important;
        -webkit-transition: .4s ease;
        transition: .4s ease; }
    .search-bar-container .input-container label {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      display: inline-block;
      margin-left: 15px;
      color: #fff; }
      .search-bar-container .input-container label:hover {
        cursor: pointer; }

/*------------------------------------------------------------------
[Videos]
-------------------------------------------------------------------*/
.video-detail,
.video-list {
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.14);
  border-radius: 4px; }

/*------------------------------------------------------------------
[Video Details]
-------------------------------------------------------------------*/
.video-detail {
  overflow: hidden; }
  .video-detail .video-embed {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%; }
    .video-detail .video-embed .video-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; }
  .video-detail .details {
    padding: 35px 25px;
    background-color: #282828;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .video-detail .details .publisher {
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      display: block;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .video-detail .details .publisher .publisher-name {
        color: #61dafb; }
      .video-detail .details .publisher:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 50px;
        background-color: #61dafb; }
    .video-detail .details .video-description {
      margin-bottom: 30px;
      margin-top: 20px; }

/*------------------------------------------------------------------
[Video List]
-------------------------------------------------------------------*/
.video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 15px;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #fff;
  background-color: #282828; }
  .video-list .video-list-title {
    margin-top: 10px;
    padding-bottom: 14px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.14); }
  .video-list .video-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 3px solid rgba(255, 255, 255, 0.14);
    padding: 15px 0; }
    .video-list .video-list-item .thumbnail {
      display: inline-block;
      vertical-align: top;
      padding-right: 20px;
      margin-bottom: 10px;
      border: none; }
      .video-list .video-list-item .thumbnail img {
        max-width: 100%;
        width: 120px; }
    .video-list .video-list-item .title {
      display: inline-block;
      max-width: 200px;
      font-size: 15px;
      line-height: 19px;
      font-weight: 600;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .video-list .video-list-item .title .publish {
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: #61dafb;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 5px;
        position: relative; }
        .video-list .video-list-item .title .publish .publish-name {
          color: #fff; }
        .video-list .video-list-item .title .publish:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 50px;
          background-color: #61dafb; }
    .video-list .video-list-item:last-child {
      border: none; }
    .video-list .video-list-item:hover {
      cursor: pointer; }
      .video-list .video-list-item:hover .title {
        opacity: .8; }

/*------------------------------------------------------------------
[Responsive]
-------------------------------------------------------------------*/
@media (max-width: 1100px) {
  .video-playing {
    width: 100% !important; }
  .video-lists {
    width: 100% !important;
    margin-top: 40px; }
    .video-lists .video-list {
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .video-lists .video-list .video-list-title {
        width: 100%; }
    .video-lists .video-list-item {
      width: 50%;
      float: left;
      border-color: transparent;
      padding-right: 20px; } }

@media (max-width: 991px) {
  .search-bar-container .logo {
    display: block;
    margin: 0 auto 30px;
    float: none; }
  .search-bar-container .input-container {
    width: 100%; } }

@media (max-width: 480px) {
  .video-title {
    font-size: 30px; }
  .video-description, .publisher {
    font-size: 15px;
    line-height: 27px; }
  .video-list-item {
    width: 100% !important;
    border-color: rgba(255, 255, 255, 0.14) !important; } }
